<template>
    <section class="bg-[#F8F8F8]">
        <div class="_container h-[245px] flex items-center justify-between" >
            <div class="h-[77px] w-[219px]">
                <img class="h-[100%] w-[100%]" src="./assets/3@32.png" alt="">
            </div>
            <div class="h-[77px] w-[219px]">
                <img class="h-[100%] w-[100%]" src="./assets/4@32.png" alt="">
            </div>
            <div class="h-[77px] w-[219px]">
                <img class="h-[100%] w-[100%]" src="./assets/5@32.png" alt="">
            </div>
            <div class="h-[85px] w-[173px]">
                <img class="h-[100%] w-[100%]" src="./assets/6@32.png" alt="">
            </div>
        </div>
    </section>
</template>

<script setup>

</script>