<template>
    <section>
        <div class="_container flex items-center justify-between h-[332px]">
            <div>
                <div class="flex items-center mb-[15px]">
                    <div class="mr-4">
                        <img src="./assets/Component1.svg" alt="">
                    </div>
                    <div class=" text-5xl font-bold">
                        950
                    </div>
                </div>
                <div class="text-[#6C6C6C] text-lg font-semibold">
                    Завершенных доставок
                </div>
            </div>
            <div>
                <div class="flex items-center mb-[15px]">
                    <div class="mr-4">
                        <img src="./assets/Component2.svg" alt="">
                    </div>
                    <div class=" text-5xl font-bold">
                        1250
                    </div>
                </div>
                <div class="text-[#6C6C6C] text-lg font-semibold">
                    Довольных клиентов
                </div>
            </div>
            <div>
                <div class="flex items-center mb-[15px]">
                    <div class="mr-4">
                        <img src="./assets/Component3.svg" alt="">
                    </div>
                    <div class=" text-5xl font-bold">
                        120
                    </div>
                </div>
                <div class="text-[#6C6C6C] text-lg font-semibold">
                    Членов команды
                </div>
            </div>
        </div>
    </section>
</template>

<script setup>

</script>