@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Raleway:wght@400;500;600;700&family=Rubik:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic');
@tailwind base;
@tailwind components;
@tailwind utilities;
._container{
    @apply max-w-[1290px] mx-auto
}
